/* =============================================================================
   HTML5 CSS Reset Minified
   ========================================================================== */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,city,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}

/* ---- base ---- */
html,body{
	width:100%;
	height:100%;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

html::before {
    content: ' ';
    display: block;
    background-image: url('../img/airplane.jpg');
    background-position: center top; 
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -10;
}

body{
    font-family: 'Montserrat', sans-serif!important;
		color:white;
}


/*********************************************/

#loading{
  z-index:999;
  background-color:black;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

#spinner{
  position:relative;
  top:90%;
  transform:rotate(-90deg);
}


#inputContainer{
    padding: 20px;
    background-color: #ffffff52;
    border-radius: 5px;
    width: 95vw;
    margin: auto;
}

#fromTo, #yourTrips{
  background-color: #ffffff52;
  border-radius:5px;
}

.title {
  font-size:4em;
  font-weight: 100;}

.subtitle{
  font-size:1.5em;
  font-weight:200;
}

.splitflap{
    left: 50%;
    transform: translateX(-50%);
}

.btn.bg-second-color:hover{color:initial;}
.bg-second-color{background-color:#ffb300}
.second-color{color:#ffb300;}

/* TEXT COLORS MDB*/
.primary-text {color: #4285F4;}
.danger-text {color: #ff3547;}
.warning-text {color: #FF8800;}
.success-text {color: #00C851;}
.info-text {color: #33b5e5;}
.default-text {color: #2BBBAD;}
.secondary-text {color: #aa66cc;}

.noOpacity{
  opacity:0;
}

#flightsList .card{
  transition: box-shadow 500ms;
}

#flightsList .card:hover, #tripList .card:hover{
  cursor:pointer;
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
  transition: box-shadow 500ms;
}

#appendArrow, #removeArrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

.backButton{
  position: absolute !important;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}



